<style>
  .uploader_input_box {
    position: relative;
    margin-bottom: 8px;
    width: 90px;
    height: 90px;
    border: 1px dashed #ced4da;
    color: #7E8081;
    text-align: center;
    transition: all 0.1s;
    overflow: hidden;
  }

  #materialData thead {
    display: none;
  }

  #materialData td .card-img-top {
    width: 100%;
    aspect-ratio: 16/9;
    background: no-repeat 50%;
    background-size: cover;
  }

  .cover {
    width: 100%;
    aspect-ratio: 1;
    background: no-repeat 50%;
    background-size: cover;
  }
</style>
<div id="wx-auto-reply" class="card">
  <div class="card-header">
    <h3 class="card-title">{{title}}</h3>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-bs-toggle="modal" data-bs-target="#modal-addAutoReply">
        <i class="fas fa-plus-circle" data-bs-toggle="tooltip" data-bs-title="添加管理员">添加</i>
      </button>
    </div>
  </div>
  <div class="modal fade" id="modal-addAutoReply" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">公众号自动回复</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="dataForm" action="/admin/weixin/autoReply" method="POST" class="needs-validation" novalidate>
            <div class="form-group row mb-3">
              <label class="col-sm-3 col-form-label text-right">接收信息类型</label>
              <div class="col-sm-9">
                <select name="msgType" class="form-select" required>
                  <option value="">请选择</option>
                  <optgroup label="接收事件">
                    <option value="click">点击菜单</option>
                    <option value="view">点击菜单跳转URL</option>
                    <option value="subscribe">粉丝关注</option>
                  </optgroup>
                  <optgroup label="接收消息">
                    <option value="text">接收到文本</option>
                    <option value="image">接收到图片</option>
                    <option value="voice">接收到语音</option>
                    <option value="video">接收到视频</option>
                    <option value="shortvideo">接收到小视频</option>
                    <option value="location">接收到地理位置</option>
                    <option value="link">接收到链接</option>
                  </optgroup>
                </select>
              </div>
            </div>
            <div class="form-group row mb-3" id="key">
              <label class="col-sm-3 col-form-label text-right">关键词</label>
              <div class="col-sm-9">
                <input name="key" type="text" class="form-control" required placeholder="关键词" autocomplete="off">
              </div>
            </div>
            <div id="message">
              <div class="form-group row mb-3">
                <label class="col-sm-3 col-form-label text-right">回复类型</label>
                <div class="col-sm-9">
                  <select name="replyType" class="form-control required">
                    <option value="text">文本消息</option>
                    <option value="media">图片/语音/视频</option>
                    <option value="music">音乐</option>
                    <option value="news">图文消息</option>
                  </select>
                </div>
              </div>
              <div id="form-message">
                <div class="form-group">
                  <label>回复文本</label>
                  <textarea name="msgContent[Content]" class="form-control required" placeholder="回复文本,支持超链接"></textarea>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
          <button type="submit" form="dataForm" class="btn btn-primary">提交</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <div class="card-body">
    <table id="tableData" class="table table-bordered table-hover"></table>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->
<script src="/js/spark-md5.min.js"></script>
<script src="/js/upfile.js"></script>
<script type="text/javascript">
loadScript('/plugins/weixin/js/auto-reply.js',function () {
  autoReplyDataTables = $('#wx-auto-reply #tableData').DataTable({
    ajax: basePath + "/admin/weixin/autoReply",
    rowId: 'id',
    columns: [
      {
        title: '接收消息类型', data: "msgType", render: function (data) {
          return $('#wx-auto-reply #dataForm select[name="msgType"] option[value="' + data + '"]').text();
        }
      },
      {title: '关键词', data: "key"},
      {
        title: '回复信息类型', data: "replyType", render: function (data) {
          if (data === 'image') return '图片';
          if (data === 'voice') return '语音';
          if (data === 'video') return '视频';
          return $('#wx-auto-reply #dataForm select[name="replyType"] option[value="' + data + '"]').text();
        }
      },
      {
        title: '回复内容', data: "msgContent", render: function (data) {
          if (data.Content) return data.Content;
          if (data.Image) return '<img style="max-width: 100px" src="/admin/weixin/material/image/' + data.Image.MediaId + '">';
          if (data.Voice) return '<audio src="/admin/weixin/material/voice/' + data.Voice.MediaId + '" controls>';
          if (data.Video) return data.Video.Title + '<button class="btn btn-link video">查看视频</button>';
          if (data.Music) {
            let html = '<div class="list-unstyled">';
            html += '<div class="media"><audio src="' + data.Music.MusicUrl + '" controls></audio>\n' +
              '  <div class="cover mr-3" style="background-image: url(/admin/weixin/material/image/' + data.Music.ThumbMediaId + ');width: 64px; height: 64px;"></div>\n' +
              '  <div class="media-body">\n' +
              '    <h5 class="mt-0">' + data.Music.Title + '</h5>\n' +
              '    <p>' + data.Music.Description + '</p>\n' +
              '  </div>\n' +
              '</div>';
            return html + '</div>';
          }
          if (data.Articles) {
            let html = '<div class="list-unstyled">';
            for (const article of data.Articles) {
              html += '<a class="media" href="' + article.Url + '" target="_blank">\n' +
                '  <div class="cover mr-3" style="background-image: url(' + article.PicUrl + ');width: 64px; height: 64px;"></div>\n' +
                '  <div class="media-body">\n' +
                '    <h5 class="mt-0">' + article.Title + '</h5>\n' +
                '    <p>' + article.Description + '</p>\n' +
                '  </div>\n' +
                '</a>';
            }
            return html + '</div>';
          }
        }
      },
      {
        data: null, defaultContent: '<button type="button" class="btn btn-tool edit"><i class="fas fa-edit"></i></button>' +
          '<button type="button" class="btn btn-tool del"><i class="fas fa-trash-alt"></i></button>'
      }
    ]
  });
});
</script>
