{% extends "admin/common/base.html" %}
{% block styles %}
<link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<style>
  .uploader_input_box {
    position: relative;
    margin-bottom: 8px;
    width: 90px;
    height: 90px;
    border: 1px dashed #ced4da;
    color: #7E8081;
    text-align: center;
    transition: all 0.1s;
    overflow: hidden;
  }

  #materialData thead {
    display: none;
  }

  #materialData td .card-img-top {
    width: 100%;
    aspect-ratio: 16/9;
    background: no-repeat 50%;
    background-size: cover;
  }

  .cover {
    width: 100%;
    aspect-ratio: 1;
    background: no-repeat 50%;
    background-size: cover;
  }
</style>
{% endblock %}

{% block container %}
<div class="card">
  <div class="card-header">
    <h3 class="card-title">{{title}}</h3>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-toggle="modal" data-target="#modal-addAutoReply"><i class="fas fa-plus-circle"></i></button>
    </div>
  </div>
  <div class="modal fade" id="modal-addAutoReply" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">公众号自动回复</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="dataForm" action="/admin/weixin/autoReply" method="POST" novalidate="novalidate">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label text-right">接收信息类型</label>
              <div class="col-sm-9">
                <select name="msgType" class="form-control" required>
                  <option value="">请选择</option>
                  <optgroup label="接收事件">
                    <option value="click">点击菜单</option>
                    <option value="view">点击菜单跳转URL</option>
                    <option value="subscribe">粉丝关注</option>
                  </optgroup>
                  <optgroup label="接收消息">
                    <option value="text">接收到文本</option>
                    <option value="image">接收到图片</option>
                    <option value="voice">接收到语音</option>
                    <option value="video">接收到视频</option>
                    <option value="shortvideo">接收到小视频</option>
                    <option value="location">接收到地理位置</option>
                    <option value="link">接收到链接</option>
                  </optgroup>
                </select>
              </div>
            </div>
            <div class="form-group row" id="key">
              <label class="col-sm-3 col-form-label text-right">关键词</label>
              <div class="col-sm-9">
                <input name="key" type="text" class="form-control" required placeholder="关键词" autocomplete="off">
              </div>
            </div>
            <div id="message">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label text-right">回复类型</label>
                <div class="col-sm-9">
                  <select name="replyType" class="form-control required">
                    <option value="text">文本消息</option>
                    <option value="media">图片/语音/视频</option>
                    <option value="music">音乐</option>
                    <option value="news">图文消息</option>
                  </select>
                </div>
              </div>
              <div id="form-message">
                <div class="form-group">
                  <label>回复文本</label>
                  <textarea name="msgContent[Content]" class="form-control required" placeholder="回复文本,支持超链接"></textarea>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="submit" form="dataForm" class="btn btn-primary">提交</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <div class="card-body">
    <table id="tableData" class="table table-bordered table-hover"></table>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->
{% endblock %}

{% block scripts %}
<script src="/plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="/plugins/jquery-validation/additional-methods.min.js"></script>
<script src="/plugins/jquery-validation/localization/messages_zh.min.js"></script>
<!-- DataTables -->
<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/js/dataTable.defaults.js"></script>
<script src="/plugins/moment/moment.min.js"></script>
<script src="/js/spark-md5.min.js"></script>
<script src="/js/upfile.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    var datatables = $('#tableData').DataTable({
      serverSide: false,
      ajax: {
        url: "/admin/weixin/autoReply",
        type: 'GET',
      },
      rowId: 'id',
      columns: [
        {
          title: '接收消息类型', data: "msgType", render: function (data) {
            return $('#dataForm select[name="msgType"] option[value="' + data + '"]').text();
          }
        },
        {title: '关键词', data: "key"},
        {
          title: '回复信息类型', data: "replyType", render: function (data, type, row, meta) {
            if (data === 'image') return '图片';
            if (data === 'voice') return '语音';
            if (data === 'video') return '视频';
            return $('#dataForm select[name="replyType"] option[value="' + data + '"]').text();
          }
        },
        {
          title: '回复内容', data: "msgContent", render: function (data) {
            if (data.Content) return data.Content;
            if (data.Image) return '<img style="max-width: 100px" src="/admin/weixin/material/image/' + data.Image.MediaId + '">';
            if (data.Voice) return '<audio src="/admin/weixin/material/voice/' + data.Voice.MediaId + '" controls>';
            if (data.Video) return data.Video.Title + '<button class="btn btn-link video">查看视频</button>';
            if (data.Music) {
              let html = '<div class="list-unstyled">';
                html += '<div class="media"><audio src="' + data.Music.MusicUrl + '" controls></audio>\n' +
                  '  <div class="cover mr-3" style="background-image: url(/admin/weixin/material/image/' + data.Music.ThumbMediaId + ');width: 64px; height: 64px;"></div>\n' +
                  '  <div class="media-body">\n' +
                  '    <h5 class="mt-0">' + data.Music.Title + '</h5>\n' +
                  '    <p>' + data.Music.Description + '</p>\n' +
                  '  </div>\n' +
                  '</div>';
              return html + '</div>';
            }
            if (data.Articles) {
              let html = '<div class="list-unstyled">';
              for (const article of data.Articles) {
                html += '<a class="media" href="' + article.Url + '" target="_blank">\n' +
                  '  <div class="cover mr-3" style="background-image: url(' + article.PicUrl + ');width: 64px; height: 64px;"></div>\n' +
                  '  <div class="media-body">\n' +
                  '    <h5 class="mt-0">' + article.Title + '</h5>\n' +
                  '    <p>' + article.Description + '</p>\n' +
                  '  </div>\n' +
                  '</a>';
              }
              return html + '</div>';
            }
          }
        },
        {
          data: "op", defaultContent: '<button type="button" class="btn btn-tool edit"><i class="fas fa-edit"></i></button>' +
            '<button type="button" class="btn btn-tool del"><i class="fas fa-trash-alt"></i></button>'
        }
      ]
    });

    $('#modal-dialog').on('shown.bs.modal', function (event) {
      if ($(event.target).find('iframe').length) {
        const iframe = $(event.target).find('iframe');
        iframe[0].onload = function () {
          iframe.replaceWith('<video src="' + iframe.contents().find('video').attr('src') + '" controls style="max-width: 100%"></video>');
          Swal.close();
        };
      }
    })
    $('#modal-dialog').on('hidden.bs.modal', function (event) {
      if ($(event.target).find('video').length) $(event.target).find('video')[0].pause();
    })

    $('#tableData tbody').on('click', 'button', function () {
      var data = datatables.row($(this).parents('tr')).data();
      console.log(data);
      if ($(this).hasClass('video')) {
        Swal.fire({title: '正在获取视频地址...'})
        Swal.showLoading();
        modalDialog(data.msgContent.Video.Title, '<iframe src="/admin/weixin/material/video/' + data.msgContent.Video.MediaId + '" style="display: none">', 'modal-md',
          '<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>');
      }
      if ($(this).hasClass('edit')) {
        $('#dataForm').attr('action', '/admin/weixin/autoReply/' + data.id);
        $('#dataForm').attr('method', 'PUT');
        $("#dataForm input[name='key']").val(data.key);
        $("#dataForm select[name='msgType']").val(data.msgType);
        $("#dataForm .form-group:lt(2)").hide();
        if(data.msgType==='text') $('#key').show();
        if (data.msgContent.Image || data.msgContent.Video || data.msgContent.Voice) data.replyType = 'media';
        $("#dataForm select[name='replyType']").val(data.replyType).change();
        if (data.msgContent.Content) $('#form-message').find('textarea[name="msgContent[Content]"]').val(data.msgContent.Content);
        if (data.msgContent.Image) {// 图片
          $('#form-message').find('.selMaterial').css({width: 'auto', height: 'auto'})
            .html('<img src="/admin/weixin/material/image/' + data.msgContent.Image.MediaId + '" width="100%"><input name="msgContent[Image][MediaId]" value="' + data.msgContent.Image.MediaId + '" type="hidden">');
        }
        if (data.msgContent.Video) {// 视频
          $('#form-message').find('.selMaterial').attr('style', '').html('<div class="cover" style="background-image: url(' + data.msgContent.Cover + ')"></div><input name="msgContent[Video][MediaId]" value="' + data.msgContent.Video.MediaId + '" type="hidden">');

          $('#form-message').find('.selMaterial').parents('.input-group').append('<div style="flex:1 1 auto">\n' +
            '             <input name="msgContent[Video][Title]" class="form-control" placeholder="视频标题" required value="' + data.msgContent.Video.Title + '" style="height: 30px; border-bottom:0;border-radius: 0">' +
            '             <textarea name="msgContent[Video][Description]" class="form-control" placeholder="视频描述" required style="height: 60px;border-radius: 0">' + data.msgContent.Video.Description + '</textarea>' +
            '           </div>');
          // 取视频信息
          const iframe = $('<iframe src="/admin/weixin/material/video/' + data.msgContent.Video.MediaId + '" style="display: none">');
          $('#form-message').append(iframe);
          iframe[0].onload = function () {
            iframe.replaceWith('<video src="' + iframe.contents().find('video').attr('src') + '" controls style="max-width: 100%"></video>');
          };
        }
        if (data.msgContent.Voice) {// 音频
          if ($('#form-message').find('.selMaterial').length) {
            $('#form-message').find('.selMaterial').css({width: 'auto', height: 'auto'})
              .html('<audio src="/admin/weixin/material/voice/' + data.msgContent.Voice.MediaId + '" controls class="pr-5"><input name="msgContent[Voice][MediaId]" required value="' + data.msgContent.Voice.MediaId + '" type="hidden">');
          }
        }
        if (data.msgContent.Music) {// 音频
          if ($('#form-message').find('.selMusicCover').length) {
            $('#form-message').find('.selMusicCover')
              .html('<div class="cover" style="background-image: url(/admin/weixin/material/image/' + data.msgContent.Music.ThumbMediaId + ')"></div><input name="msgContent[Music][ThumbMediaId]" value="' + data.msgContent.Music.ThumbMediaId + '" type="hidden">');
            $('#form-message').find('[name="msgContent[Music][MusicUrl]"]').val(data.msgContent.Music.MusicUrl);
            $('#form-message').find('[name="msgContent[Music][Title]"]').val(data.msgContent.Music.Title);
            $('#form-message').find('[name="msgContent[Music][Description]"]').val(data.msgContent.Music.Description);
          }
        }
        if (data.msgContent.Articles) {// 图文
          var html = '<div class="form-group"><label>回复图文</label>';
          var index = 0;
          for (const article of data.msgContent.Articles) {
            html += '<div class="articleItem"><input type="url" name="msgContent[Articles][' + index + '][Url]" required class="form-control" placeholder="链接地址" value="' + article.Url + '" style="border-radius: 0">' +
              '      <div class="input-group">\n' +
              '        <div class="input-group-append" style="margin-left: 0">\n' +
              '          <div class="uploader_input_box" id="cropCover" style="border-top: 0;border-right: 0">\n' +
              '            <div class="cover" style="background-image: url(' + article.PicUrl + ')"></div>\n' +
              '          </div>\n' +
              '          <input type="hidden" name="msgContent[Articles][' + index + '][PicUrl]" required value="' + article.PicUrl + '">\n' +
              '         </div>' +
              '         <div style="flex:1 1 auto">\n' +
              '           <input name="msgContent[Articles][' + index + '][Title]" value="' + article.Title + '" class="form-control" placeholder="标题" required style="height: 30px; border-top: 0;border-bottom:0;border-radius: 0">' +
              '           <textarea name="msgContent[Articles][' + index + '][Description]" class="form-control" placeholder="描述" required style="height: 60px;border-radius: 0">' + article.Description + '</textarea>' +
              '         </div>';
            if (index > 0) html += '<div class="input-group-append"><i class="fas fa-trash-alt input-group-text" style="height: 90px;border-radius: 0; border-top: 0"></i></div>';
            html += '      </div>' +
              '    </div>';
            index++;
          }
          html += '</div>';
          if (['click', 'view', 'subscribe'].includes($('#dataForm select[name="msgType"]').val()) && data.msgContent.Articles.length < 8) {
            html += '<div class="uploader_input_box" id="addArticle" style="height: 30px;width: 100%;"><i class="fas fa-plus" style="margin-top: 7px"></i></div>';
          }
          $('#form-message').html(html);
        }
        $('#modal-addAutoReply').modal('show');
      }
      if ($(this).hasClass('del')) {
        var deltr = $(this).parents('tr');
        dialog('删除自动回复', '是否确认删除此回复', function () {
          $.ajax({
            url: '/admin/weixin/autoReply/' + data.id,
            type: 'POST',
            headers: {"X-HTTP-Method-Override": "DELETE"},
            dataType: 'json',
            success: function (data) {
              datatables.row(deltr).remove().draw(false);
              Swal.fire({icon: 'success', title: '删除成功！', showConfirmButton: false, timer: 1500});
            },
            error: errorDialog
          });
        });
      }
    });
    $('#dataForm select[name="msgType"]').change(function () {
      const value = $(this).val();
      $('#message').show();
      $('#modal-addAutoReply .btn-primary').show();
      $('#key div:last-child').remove();
      if (['click', 'view'].includes(value)) {
        $.get('/admin/weixin/autoReply/getEvent/' + value, function (res) {
          $('#key label').text('菜单点击事件');
          if (res.length > 0) {
            let html = '<select name="key" class="form-control">';
            for (const re of res) {
              html += '<option value="' + re.key + '">' + re.name + '</option>'
            }
            html += '</select>';
            $('#key').append('<div class="col-sm-9">' + html + '</div>').show();
            console.log(res)
          } else {
            $('#key').append('<div class="alert alert-danger">没有找到自定义菜单事件，请先到添加生成自定义菜单</div>').show();
            $('#message').hide();
            $('#modal-addAutoReply .btn-primary').hide();
          }
        });
      } else if (value === 'text') {
        $('#key label').text('文本关键词');
        $('#key').append('<div class="col-sm-9"><input name="key" type="text" class="form-control" required placeholder="关键词" autocomplete="off"></div>').show();
      } else {
        $('#key label').text('文本关键词');
        if (value === '') $('#key').append('<div class="col-sm-9"><input name="key" type="text" class="form-control" required placeholder="关键词" autocomplete="off"></div>');
        else $('#key').append('<div class="col-sm-9"><input name="key" type="hidden" value="' + value + '" readonly></div>').hide();
      }
    });
    $('#dataForm select[name="replyType"]').change(function () {
      const value = $(this).val();
      let html = '';
      switch (value) {
        case 'text':
          html = '<div class="form-group">\n' +
            '              <label>回复文本</label>\n' +
            '              <textarea name="msgContent[Content]" class="form-control required" placeholder="回复文本,支持超链接"></textarea>' +
            '            </div>';
          break;
        case 'media':
          html = '<div class="form-group">\n' +
            '              <label>回复图片/语音/视频</label>\n' +
            '              <div class="input-group">\n' +
            '                  <div class="input-group-append">\n' +
            '                    <div class="uploader_input_box selMaterial" title="请选择素材">\n' +
            '                      <i class="fas fa-plus" style="margin-top: 20px"></i>\n' +
            '                      <p>选择素材</p><input type="text" name="media_id" value="" required style="height: 1px;width: 1px;">\n' +
            '                    </div>\n' +
            '                  </div>\n' +
            '                </div>' +
            '            </div>';
          break;
        case 'music':
          html = '<div class="form-group">\n' +
            '       <label>回复音乐</label><div></div>\n' +
            '       <div class="input-group">\n' +
            '         <div class="input-group-append" style="margin-left: 0">\n' +
            '           <div class="uploader_input_box selMusicCover" style="border-bottom: 0;border-right: 0; margin-bottom: 0">\n' +
            '             <i class="fas fa-plus" style="margin-top: 20px"></i>\n' +
            '             <p>选择封面</p>\n' +
            '           </div>\n' +
            '         </div>' +
            '         <div style="flex:1 1 auto">' +
            '           <input name="msgContent[Music][Title]" class="form-control" placeholder="标题" required style="height: 30px;border-bottom:0;border-radius: 0">' +
            '           <textarea name="msgContent[Music][Description]" class="form-control" placeholder="描述" required style="height: 60px;border-bottom: 0;border-radius: 0"></textarea>' +
            '         </div>' +
            '       </div>' +
            '       <div class="input-group">\n' +
            '         <input type="text" name="msgContent[Music][MusicUrl]" required class="form-control" placeholder="音乐地址" style="border-radius: 0">\n' +
            '         <div class="input-group-prepend" style="margin-right: 0">\n' +
            '           <span class="input-group-text" id="uploadMusic">上传</span>\n' +
            '         </div>\n' +
            '       </div>' +
            '     </div>';
          break;
        case 'news':
          html = '<div class="form-group">\n' +
            '       <label>回复图文</label>' +
            '       <div class="articleItem"><input type="url" name="msgContent[Articles][0][Url]" class="form-control" placeholder="链接地址" required style="border-radius: 0">' +
            '         <div class="input-group">\n' +
            '           <div class="input-group-append" style="margin-left: 0">\n' +
            '             <div class="uploader_input_box" style="border-top: 0;border-right: 0">\n' +
            '               <i class="fas fa-plus" style="margin-top: 20px"></i>\n' +
            '               <p>选择封面</p>\n' +
            '             </div>\n' +
            '             <input type="hidden" name="msgContent[Articles][0][PicUrl]" value="" required>\n' +
            '           </div>' +
            '           <div style="flex:1 1 auto">\n' +
            '             <input name="msgContent[Articles][0][Title]" class="form-control" placeholder="标题" required style="height: 30px; border-top: 0;border-bottom:0;border-radius: 0">' +
            '             <textarea name="msgContent[Articles][0][Description]" class="form-control" placeholder="描述" required style="height: 60px;border-radius: 0"></textarea>' +
            '           </div>' +
            '         </div>' +
            '       </div>' +
            '     </div>';
          if (['click', 'view', 'subscribe'].includes($('#dataForm select[name="msgType"]').val())) {
            html += '<div class="uploader_input_box" id="addArticle" style="height: 30px;width: 100%;"><i class="fas fa-plus" style="margin-top: 7px"></i></div>';
          }
          break;
      }
      $('#form-message').html(html);
    });

    $('#form-message').off('click', '.selMaterial').on('click', '.selMaterial', function (e) {
      $.ajax({
        url: '/admin/weixin/materialDialog',
        type: 'GET',
        success: function (data) {
          modalDialog('<div class="btn-group">\n' +
            '  <button type="button" class="btn btn-outline-success" data-type="image">图片</button>\n' +
            '  <button type="button" class="btn btn-outline-info" data-type="voice">音频</button>\n' +
            '  <button type="button" class="btn btn-outline-info" data-type="video">视频</button>\n' +
            '</div>', data, 'modal-xl');
        },
        error: errorDialog
      });
    });

    $('#form-message').off('click', '.selMusicCover').on('click', '.selMusicCover', function (e) {
      $.ajax({
        url: '/admin/weixin/materialDialog',
        type: 'GET',
        success: function (data) {
          modalDialog('选择封面图片', data, 'modal-xl');
        },
        error: errorDialog
      });
    });

    $('#form-message').off('click', '#uploadMusic').on('click', '#uploadMusic', function (e) {
      $.uploadFile({
        url: '/admin/files',
        accept: 'audio/mpeg',
        ext: 'mp3',
        maxSize: 10,
        success: function (res) {
          console.log(res, $(e.target), e);
          $(e.target).closest('.input-group').find('input').val(res.host + res.url);
        },
        error: function (error) {
          Swal.fire({
            icon: 'error',
            title: error.description
          })
        }
      });
    });

    $('#form-message').off('click', '#addArticle').on('click', '#addArticle', function (e) {
      console.log(e);
      const articleLen = $('#form-message').find('.input-group').length;
      if (articleLen < 8) {
        $('#form-message').find('.form-group').append('<div class="articleItem"><input type="url" name="msgContent[Articles][' + articleLen + '][Url]" required class="form-control" placeholder="链接地址" style="border-radius: 0">' +
          '               <div class="input-group">\n' +
          '                  <div class="input-group-append" style="margin-left: 0">\n' +
          '                    <div class="uploader_input_box" id="cropCover" style="border-top: 0;border-right: 0">\n' +
          '                      <i class="fas fa-plus" style="margin-top: 20px"></i>\n' +
          '                      <p>选择封面</p>\n' +
          '                    </div>\n' +
          '                    <input type="hidden" name="msgContent[Articles][' + articleLen + '][PicUrl]" required value="">\n' +
          '                  </div>' +
          '                  <div style="flex:1 1 auto">\n' +
          '                   <input name="msgContent[Articles][' + articleLen + '][Title]" class="form-control" placeholder="标题" required style="height: 30px; border-top: 0;border-bottom:0;border-radius: 0">' +
          '                   <textarea name="msgContent[Articles][' + articleLen + '][Description]" class="form-control" placeholder="描述" required style="height: 60px;border-radius: 0"></textarea>' +
          '                  </div>' +
          '                  <div class="input-group-append"><i class="fas fa-trash-alt input-group-text" style="height: 90px;border-radius: 0; border-top: 0"></i></div>' +
          '               </div>' +
          '             </div>');
      } else {
        $(this).hide();
      }
    });

    $('#form-message').off('click', '.fa-trash-alt').on('click', '.fa-trash-alt', function (e) {
      $(this).parents('.articleItem').remove();
      $('#form-message').find('#addArticle').show();
    });

    $('#form-message').off('click', '.articleItem .uploader_input_box').on('click', '.articleItem .uploader_input_box', function (e) {
      $.uploadFile({
        'url': '/admin/files',
        'accept': 'image/jpeg,image/jpg,image/png',
        'ext': 'jpg,png',
        'compress': {maxWidth: 200, maxHeight: 200, quality: .75},
        success: function (res) {
          if (res.url) {
            $(e.target).closest('.uploader_input_box').next('input').val(res.host + res.url);
            $(e.target).closest('.uploader_input_box').html('<div class="cover" style="background-image: url(' + res.host + res.url + ')"></div>');
          } else {
            Toast.fire({
              icon: 'error',
              title: res.description
            });
          }
        }
      });
    });

    $('#dataForm').validate({
      submitHandler: function (e) {
        var fromdata = new FormData(e);
        $.ajax({
          url: $(e).attr('action'),
          data: fromdata,
          type: 'POST',
          beforeSend: function (xhr) {
            xhr.setRequestHeader("X-HTTP-Method-Override", $(e).attr('method'));
          },
          cache: false,
          contentType: false,
          processData: false,
          dataType: 'json',
          success: function (json) {
            location.reload();
          },
          error: errorDialog
        });
        return false;
      },
      errorElement: 'span',
      errorPlacement: function (error, element) {
        error.addClass('invalid-feedback');
        if (element.closest('.uploader_input_box').length) {
          element.closest('.uploader_input_box').tooltip('show');
        }
      },
      highlight: function (element, errorClass, validClass) {
        $(element).addClass('is-invalid');
      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).removeClass('is-invalid');
      }
    });

    $('#modal-addAutoReply').on('hidden.bs.modal', function () {
      $('#dataForm')[0].reset();
      $('#dataForm').attr('action', '/admin/weixin/autoReply');
      $('#dataForm').attr('method', 'POST');
      $("#dataForm .form-group:lt(2)").show();
      $('#dataForm select[name="msgType"]').change();
      $('#dataForm select[name="replyType"]').change();
    });
  });

  function selMaterial(data) {
    $('#dataForm select[name="replyType"]').change();
    if (data.url) {// 图片
      if ($('#form-message').find('.selMaterial').length) {
        $('#form-message').find('.selMaterial').css({
          width: 'auto',
          height: 'auto'
        }).html('<img src="' + data.url.replace('mmbiz.qpic.cn', 'imgs.ztnews.net') + '" width="100%"><input name="msgContent[Image][MediaId]" value="' + data.media_id + '" type="hidden">');
      }
      // 音乐封面
      if ($('#form-message').find('.selMusicCover').length) {
        $('#form-message').find('.selMusicCover').html('<div class="cover" style="background-image: url(' + data.url.replace('mmbiz.qpic.cn', 'imgs.ztnews.net') + ')"></div><input name="msgContent[Music][ThumbMediaId]" value="' + data.media_id + '" type="hidden">');
      }
    } else if (data.cover_url) {// 视频
      const cover = data.cover_url.replace('mmbiz.qpic.cn', 'imgs.ztnews.net');
      $('#form-message').find('.selMaterial').attr('style', '').html('<div class="cover" style="background-image: url(' + cover + ')"></div><input name="msgContent[Video][MediaId]" value="' + data.media_id + '" type="hidden"><input name="msgContent[Cover]" value="' + cover + '" type="hidden">');
      $('#form-message').find('.selMaterial').parents('.input-group').append('<div style="flex:1 1 auto">\n' +
        '             <input name="msgContent[Video][Title]" class="form-control" placeholder="视频标题" required value="' + data.name + '" style="height: 30px; border-bottom:0;border-radius: 0">' +
        '             <textarea name="msgContent[Video][Description]" class="form-control" placeholder="视频描述" required style="height: 60px;border-radius: 0">' + data.description + '</textarea>' +
        '           </div>');
      // 取视频信息
      const iframe = $('<iframe src="/admin/weixin/material/video/' + data.media_id + '" style="display: none">');
      $('#form-message').append(iframe);
      iframe[0].onload = function () {
        iframe.replaceWith('<video src="' + iframe.contents().find('video').attr('src') + '" controls style="max-width: 100%"></video>');
      };
    } else {// 音频
      if ($('#form-message').find('.selMaterial').length) {
        $('#form-message').find('.selMaterial').css({width: 'auto', height: 'auto'})
          .html('<audio src="/admin/weixin/material/voice/' + data.media_id + '" controls class="pr-5"><input name="msgContent[Voice][MediaId]" required value="' + data.media_id + '" type="hidden">');
      }
    }
    $('#form-message').find('.uploader_input_box').tooltip('dispose');
  }
</script>
{% endblock %}
