<div id="wx-clients" class="card">
  <div class="card-header">
    <h3 class="card-title">{{title}}</h3>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-bs-toggle="modal" data-bs-target="#modal-addClient">
        <i class="fas fa-plus-circle" data-bs-toggle="tooltip" data-bs-title="添加客户端">添加</i>
      </button>
    </div>
  </div>
  <div class="modal fade" id="modal-addClient" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">客户端</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="clientForm" action="/admin/clients" method="POST" class="needs-validation" novalidate>
            <div class="input-group mb-3">
              <label for="name" class="input-group-text">名称</label>
              <input name="name" type="text" class="form-control" required placeholder="客户端名称" id="name"
                     autocomplete="off">
              <div class="invalid-feedback">名称不能为空</div>
            </div>
            <div class="input-group mb-3">
              <label for="client_id" class="input-group-text">APPID</label>
              <input name="client_id" type="text" class="form-control" required placeholder="客户端ID" id="client_id"
                     autocomplete="off">
              <div class="invalid-feedback">APPID不能为空</div>
            </div>
            <div class="input-group mb-3">
              <label for="redirect_uri" class="input-group-text">回调地址</label>
              <input name="redirect_uri" type="text" class="form-control" required placeholder="回调地址"
                     id="redirect_uri" autocomplete="off">
              <div class="invalid-feedback">回调地址不能为空</div>
            </div>
            <div class="input-group mb-3">
              <label for="client_ip" class="input-group-text">客户端IP</label>
              <input name="client_ip" type="text" class="form-control" required placeholder="授权客户端IP"
                     id="client_ip" autocomplete="off">
              <div class="invalid-feedback">授权客户端IP不能为空</div>
            </div>
          </form>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
          <button type="submit" form="clientForm" class="btn btn-primary">提交</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <div class="card-body">
    <table id="clientsData" class="table table-sm table-bordered table-hover"></table>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->
<script type="text/javascript">
  loadScript('/plugins/weixin/js/clients.js', function () {
    clientsDataTables = $('#wx-clients #clientsData').DataTable({
      serverSide: false,
      ajax: "/admin/clients",
      rowId: 'id',
      columns: [
        {'title': '客户端', data: "name", className: 'align-middle'},
        {'title': 'APPID', data: "client_id", className: 'align-middle'},
        {'title': '密钥', data: "client_secret", className: 'align-middle'},
        {'title': '回调地址', data: "redirect_uri", className: 'align-middle'},
        {
          'title': '客户端IP', className: 'align-middle',
          data: "client_ip", render: function (data) {
            return data.join('<br>');
          }
        },
        {'title': '操作', data: "op", defaultContent: buttonStr, className: 'align-middle'}
      ]
    });
  });
</script>
