<div id="wx-custom-menu" class="row">
  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-header">
        <h3 class="card-title">粉丝标签为“{{tagTitle}}”的菜单</h3>
      </div>
      <div id="tags" class="card-body">
        <button class="btn btn-outline-info mr-2" data-id="">默认</button>
        {% for tag in tags %}
        <button class="btn btn-outline-info mr-2" data-id="{{tag.id}}">{{tag.name}}</button>
        {% endfor %}
      </div>
      <!-- /.card-body -->
    </div>

    <div class="card">
      <div class="card-body mb-5 mt-5 pt-5 pb-5">

      </div>
      <!-- /.card-body -->
      <div class="card-footer">
        <div class="row">
          {% for menu in menus %}
          <div class="w-25 btn-group">
            <div class="btn-group dropup">
              <button class="btn btn-sm btn-outline-info editMenu" data-menu="{{ menu|json_encode }}"
                      data-bs-toggle="tooltip" title="点击修改">
                {{menu.name}}
              </button>
              <button type="button" class="btn btn-sm btn-outline-info dropdown-toggle dropdown-toggle-split"
                      data-bs-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
              </button>
              <div class="dropdown-menu">
                {% for btn in menu.subBtn %}
                <button class="dropdown-item editMenu" data-menu="{{ btn|json_encode }}">{{btn.name}}</button>
                <div class="dropdown-divider"></div>
                {% endfor %}
                {% if menu.subBtn|length < 7 %}
                <button class="dropdown-item text-center addMenu" data-menu="{{ menu|json_encode }}"><i
                    class="fa fa-plus"></i></button>
                {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
          <div class="w-25 btn-group">
            {% if menus|length < 3 %}
            <button class="btn btn-link mr-2 addMenu" data-bs-toggle="tooltip" title="添加一级菜单"><i
                class="fa fa-plus"></i></button>
            {% endif %}
            <button id="createMenu" class="btn btn-link" data-bs-toggle="tooltip" title="生成菜单"><i
                class="fas fa-cloud-upload-alt"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <h3 id="menuTitle" class="card-title">{{menuTitle}}</h3>
      </div>
      <div class="card-body">
        <form id="menuForm" action="/admin/weixin/menu" method="POST" class="needs-validation" novalidate>
          <div class="form-group mb-3">
            <input name="parent_id" type="hidden" value="0">
            <input name="tag_id" type="hidden" value="{{tag_id}}">
            <label for="name">菜单名称</label>
            <input name="name" type="text" class="form-control" required placeholder="菜单名称" id="name"
                   autocomplete="off">
          </div>
          <div class="form-group mb-3">
            <label>类型</label>
            <select name="type" class="form-control" required>
              <option value="click">点击推事件</option>
              <option value="view">跳转URL</option>
              <option value="miniprogram">小程序</option>
              <option value="scancode_push">扫码推事件</option>
              <option value="scancode_waitmsg">扫码推事件且弹出“消息接收中”提示框</option>
              <option value="pic_sysphoto">弹出系统拍照发图</option>
              <option value="pic_photo_or_album">弹出拍照或者相册发图</option>
              <option value="pic_weixin">弹出微信相册发图器</option>
              <option value="location_select">弹出地理位置选择器</option>
            </select>
          </div>
          <div class="form-group key mb-3">
            <label>菜单KEY值</label>
            <input name="key" type="text" class="form-control" placeholder="菜单KEY值">
          </div>
          <div class="form-group url mb-3" style="display: none">
            <label>菜单链接</label>
            <input name="url" type="text" class="form-control" placeholder="菜单链接">
          </div>
          <div class="form-group miniprogram mb-3" style="display: none">
            <label>小程序的appid</label>
            <input name="appid" type="text" class="form-control" placeholder="小程序的appid">
          </div>
          <div class="form-group miniprogram mb-3" style="display: none">
            <label>小程序的页面路径</label>
            <input name="pagepath" type="text" class="form-control" placeholder="小程序的页面路径">
          </div>
          <div class="form-group">
            <label>显示排序</label>
            <input name="sortOrder" type="number" required class="form-control" placeholder="显示排序">
          </div>
        </form>
      </div>
      <!-- /.card-body -->
      <div class="card-footer">
        {% if menus|length < 3 %}
        <button type="submit" class="btn btn-outline-primary mr-2" form="menuForm">提交</button>
        {% else %}
        <button type="submit" class="btn btn-outline-primary mr-2 disabled" disabled form="menuForm">提交</button>
        {% endif %}
        <button type="button" class="btn btn-outline-danger" style="display: none">删除</button>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
  var tagTitle = '{{tagTitle}}';
  loadScript('/plugins/weixin/js/custom-menu.js');
</script>
