<style>
  #tableData thead {
    display: none;
  }

  #tableData td .card-img-top {
    width: 100%;
    aspect-ratio: 16/9;
    background: no-repeat 50%;
    background-size: cover;
  }
</style>
<div class="card">
  <div id="types" class="card-header">
    <h3 class="card-title">{{title}}</h3>
    <div class="card-tools">
      <div class="btn-group mr-2">
        <button class="btn btn-outline-success btn-sm" data-type="image">图片</button>
        <button class="btn btn-outline-primary btn-sm" data-type="uploadImage" data-toggle="tooltip" title="添加图片"><i class="fas fa-plus-circle"></i>
        </button>
      </div>
      <div class="btn-group mr-2">
        <button class="btn btn-outline-info btn-sm" data-type="voice">音频</button>
        <button class="btn btn-outline-primary btn-sm" data-type="uploadVoice" data-toggle="tooltip" title="添加音频"><i class="fas fa-plus-circle"></i>
        </button>
      </div>
      <div class="btn-group mr-2">
        <button class="btn btn-outline-info btn-sm" data-type="video">视频</button>
        <button class="btn btn-outline-primary btn-sm" data-type="uploadVideo" data-toggle="tooltip" title="添加视频"><i class="fas fa-plus-circle"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <table id="tableData" class="table table-bordered"></table>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->

<script src="/js/spark-md5.min.js"></script>
<script src="/js/upfile.js"></script>
<script type="text/javascript">
  // 传入一个时间戳（毫秒）
  function formatTimestamp(timestamp) {
    // 创建一个Date对象，传入时间戳
    const date = new Date(timestamp);

    // 获取年、月、日等信息
    const year = date.getFullYear();
    const month = ('0' + (date.getMonth() + 1)).slice(-2); // 月份是从0开始的，所以要加1，并确保两位数
    const day = ('0' + date.getDate()).slice(-2);
    const hours = ('0' + date.getHours()).slice(-2);
    const minutes = ('0' + date.getMinutes()).slice(-2);
    const seconds = ('0' + date.getSeconds()).slice(-2);

    return year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds;
  }

  $(document).ready(function () {
    var datatables = $('#tableData').DataTable({
      searching: false,
      lengthChange: false,
      bInfo: false,
      pageLength: 20,
      ajax: "/admin/weixin/material/list/image",
      rowId: 'media_id',
      columns: [
        {data: 0, render: formatData},
        {data: 1, render: formatData},
        {data: 2, render: formatData},
        {data: 3, render: formatData},
        {data: 4, render: formatData}
      ]
    });

    $('#types button').click(function () {
      if ($(this).hasClass('btn-outline-info')) {
        $('#types button[data-type].btn-outline-success').removeClass('btn-outline-success').addClass('btn-outline-info');
        $(this).removeClass('btn-outline-info').addClass('btn-outline-success');
        if ($.fn.DataTable.isDataTable('#tableData')) {
          datatables.destroy();
          $('#tableData').empty();
        }
        datatables = $('#tableData').DataTable({
          searching: false,
          lengthChange: false,
          bInfo: false,
          pageLength: 20,
          ajax: "/admin/weixin/material/list/" + $(this).attr('data-type'),
          columns: [
            {data: 0, render: formatData},
            {data: 1, render: formatData},
            {data: 2, render: formatData},
            {data: 3, render: formatData},
            {data: 4, render: formatData}
          ]
        });
      }
      if ($(this).hasClass('btn-outline-primary')) {
        const type = $(this).attr('data-type');
        if (type === 'uploadImage') {
          $.uploadFile({
            'url': '/admin/files',
            'accept': 'image/jpeg,image/jpg,image/png',
            'ext': 'jpg,png',
            'compress': {maxWidth: 640, maxHeight: 640, quality: .75},// 图片素材进行压缩
            success: function (res) {
              $.post('/admin/weixin/material/add/image', {filePath: res.url}, function (res) {
                console.log(res);
                Swal.fire({
                  icon: 'success',
                  title: '图片文件已成功添加到微信素材库',
                  showConfirmButton: false,
                  timer: 3000
                });
              })
            },
            error: function (error) {
              Swal.fire({
                icon: 'error',
                title: error.description
              })
            }
          });
        }
        if (type === 'uploadVoice') {
          Swal.fire('音频上传中...');
          Swal.showLoading();
          $.uploadFile({
            'url': '/admin/files',
            'accept': 'audio/mpeg',
            'ext': 'mp3',
            maxSize: 2,
            success: function (res) {
              $.post('/admin/weixin/material/add/voice', {filePath: res.url}, function (res) {
                console.log(res);
                Swal.fire({
                  icon: 'success',
                  title: '音频文件已成功添加到微信素材库',
                  showConfirmButton: false,
                  timer: 3000
                });
              })
            },
            error: function (error) {
              Swal.fire({
                icon: 'error',
                title: error.description
              })
            }
          });
        }
        if (type === 'uploadVideo') {
          Swal.fire('视频上传中...');
          Swal.showLoading();
          $.uploadFile({
            'url': '/admin/files',
            'accept': 'video/mp4',
            'ext': 'mp4',
            maxSize: 10,
            success: function (res) {
              Swal.fire({
                title: '完善视频信息',
                html: '<input id="title" type="text" class="form-control" placeholder="视频素材的标题" autocomplete="off">' +
                  '<textarea id="introduction" class="form-control" placeholder="视频素材的描述"></textarea>',
                showCancelButton: false,
                confirmButtonText: '确定',
                showLoaderOnConfirm: true,
                preConfirm: () => {
                  const title = $('#title').val();
                  const introduction = $('#introduction').val();
                  if (!title || !introduction) {
                    Swal.showValidationMessage('视频信息不能为空!');
                  } else {
                    return new Promise((resolve, reject) => {
                      $.post("/admin/weixin/material/add/video", {
                        filePath: res.url,
                        description: {title: title, introduction: introduction}
                      }, function (data) {
                        resolve(data)
                      }).fail(function (data) {
                        reject(data)
                      })
                    }).catch(error => {
                      return error.responseJSON;
                    });
                  }
                },
                allowOutsideClick: false
              }).then((result) => {
                if (result.isConfirmed) {
                  console.log(result);
                  if (result.value.errMsg) Swal.fire({
                    icon: 'error',
                    title: result.value.errMsg
                  });
                  else Swal.fire({
                    icon: 'success',
                    title: '素材成功添加到微信素材库',
                    showConfirmButton: false,
                    timer: 3000
                  });
                }
              });
            },
            error: function (error) {
              Swal.fire({
                icon: 'error',
                title: error.description
              })
            }
          });
        }
      }
    });

    function formatData(data) {
      if (data) {
        let image;
        if (data.url) image = data.url;
        if (data.cover_url) image = data.cover_url;

        if (image) {
          return '<div class="card mb-0" data-toggle="tooltip" title="' + data.name + '">\n' +
            '  <div style="background-image:url(' + image.replace('https://mmbiz.qpic.cn', '') + ')" class="card-img-top">\n' +
            '</div>';
        } else {
          return '<div class="card mb-0 p-2">' + data.name + '</div>';
        }
      }
    }

    $('#tableData').on('click', '.card', function () {
      const data = datatables.row($(this).parents('tr')).data()[$(this).parents('td').index()];
      if (data.url) {// 图片
        modalDialog(data.name, '<img class="img-fluid" src="' + data.url.replace('https://mmbiz.qpic.cn', '') + '">', 'modal-xl',
          '<div>上传时间：' + formatTimestamp(parseInt(data.update_time) * 1000) + '</div><button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>');
      } else if (data.cover_url) {// 视频
        Swal.fire({title: '正在获取视频地址...'})
        Swal.showLoading();
        modalDialog(data.name, '<iframe src="/admin/weixin/material/video/' + data.media_id + '" style="display: none">', 'modal-md',
          '<div>上传时间：' + formatTimestamp(parseInt(data.update_time) * 1000) + '</div><button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>');
        Swal.close();
      } else {// 音频
        modalDialog(data.name, '<audio src="/admin/weixin/material/voice/' + data.media_id + '" controls>', 'modal-md',
          '<div>上传时间：' + formatTimestamp(parseInt(data.update_time) * 1000) + '</div><button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>');
      }
    });

    $('#modal-dialog').on('shown.bs.modal', function (event) {
      if ($(event.target).find('iframe').length) {
        const iframe = $(event.target).find('iframe');
        iframe[0].onload = function () {
          iframe.replaceWith('<video src="' + iframe.contents().find('video').attr('src') + '" controls style="max-width: 100%"></video>');
        };
      }
    })
    $('#modal-dialog').on('hidden.bs.modal', function (event) {
      if ($(event.target).find('audio').length) $(event.target).find('audio')[0].pause();
      if ($(event.target).find('video').length) $(event.target).find('video')[0].pause();
    })

    $('#tableData tbody').on('click', 'button', function () {
      var data = datatables.row($(this).parents('tr')).data();
      console.log(data);
      var deltr = $(this).parents('tr');
      dialog('删除永久素材', '是否确定要删除永久素材，请谨慎操作', function () {
        $.ajax({
          url: '/admin/weixin/material/del/' + data.media_id,
          type: 'POST',
          headers: {"X-HTTP-Method-Override": "DELETE"},
          dataType: 'json',
          success: function (data) {
            datatables.row(deltr).remove().draw(false);
            Swal.fire({icon: 'success', title: '删除成功！', showConfirmButton: false, timer: 1500});
          },
          error: errorDialog
        });
      });
    });
  });
</script>

