<div id="wx-tags" class="card">
  <div class="card-header">
    <h3 class="card-title">{{title}}</h3>

    <div class="card-tools">
      <div class="btn-group">
        <button type="button" class="btn btn-tool" data-bs-toggle="modal" data-bs-target="#modal-addTag">
          <i class="fas fa-plus-circle" data-bs-toggle="tooltip" data-bs-title="添加标签">添加</i>
        </button>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modal-addTag" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">标签</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="tagForm" action="/admin/weixin/tags" method="post" class="needs-validation" novalidate>
            <div class="input-group">
              <label for="name" class="input-group-text">标签名称</label>
              <input name="name" type="text" class="form-control" required placeholder="标签名称" id="name"
                     autocomplete="off">
            </div>
          </form>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
          <button type="submit" form="tagForm" class="btn btn-primary">提交</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <div class="card-body">
    <table id="tagsData" class="table table-sm table-bordered table-hover">
      <thead>
      <tr>
        <th>ID</th>
        <th>标签</th>
        <th>粉丝数({{ total }})</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      {% for tag in tags %}
      <tr data-id="{{ tag.id }}">
        <td>{{ tag.id }}</td>
        <td>{{ tag.name }}</td>
        <td>{{ tag.count }}</td>
        <td>
          <button type="button" class="btn btn-tool edit" data-bs-toggle="tooltip" data-bs-title="修改"><i
              class="fas fa-edit"></i></button>
          <button type="button" class="btn btn-tool del" data-bs-toggle="tooltip" data-bs-title="删除"><i
              class="fas fa-trash-alt"></i></button>
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->
<script type="text/javascript">
  loadScript('/plugins/weixin/js/tags.js');
</script>
