<div id="wx-templates" class="card">
  <div class="card-header">
    <h3 class="card-title">模板消息管理</h3>

    <div class="card-tools">
      <div class="input-group">
        <input type="text" name="tmpid" value="" placeholder="模板编号：TM*或OPEN*" class="form-control">
        <button type="button" id="addtemplate" class="btn btn-outline-primary"><i class="fas fa-plus-circle"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="card-header form-horizontal">
    主营行业：{{industry.primary_industry.first_class}} ， {{industry.primary_industry.second_class}}，
    副营行业：{{industry.secondary_industry.first_class}} ， {{industry.secondary_industry.second_class}}
  </div>
  <div class="card-body table-responsive">
    <table id="msgTplData" class="table table-bordered table-hover"></table>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->

<script type="text/javascript">
  loadScript('/plugins/weixin/js/template.js');
</script>

